@import '../../sass/variables';
@import '../../sass/mixins';
@import '../../thumbnail/thumbnail.component';

.special-row {
  max-width: 100%;
}

.more {
  display: block;
  outline: none;
  border: none;
  color: #fff;
  background-color: $green;
  &:hover {
    background-color: darken($green, 10%);
  }
}
