<mat-progress-spinner mode="indeterminate" class="spinner" *ngIf="!photos"></mat-progress-spinner>

<div class="row"
     *ngIf="photos"
     infiniteScroll
     [infiniteScrollDistance]="1"
     (scrolled)="onScroll()">
  <div class="col-sm-3" *ngFor="let item of photos">
    <a class="preview" title="View photo by {{item.user.username}}" (click)="openModal(item)">
      <img src="{{item.urls.small}}"
           class="grid-item thumb"/>
    </a>
  </div>

</div>

<div class="text-center" *ngIf="noMoreItems">No more items to display.</div>
