<div class="pic-desc">
  <div>
    <img src="{{photo.user.profile_image.medium}}" alt="{{photo.user.name}}" class="user-avatar"/>
  </div>
  <div class="pic-info">
    <h3 mat-dialog-title>Photo by {{photo.user.name}}</h3>
    <div class="date">{{photo.created_at | date}}, {{photo.location.country}}</div>
  </div>
  <div class="likes">
    <img src="../../assets/img/likes.png" alt="Likes"/> {{photo.likes}}
  </div>
</div>

<mat-dialog-content>
  <mat-progress-spinner
    mode="indeterminate"
    class="spinner"
    *ngIf="!isImageLoaded">
  </mat-progress-spinner>

  <img src="{{photo.urls.regular}}"
       alt="Photo by {{photo.user.name}}"
       class="main-picture"
       (load)="onLoad()"
       [class.loading]="!isImageLoaded"
       [class.loaded]="isImageLoaded"/>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button [matDialogClose] class="close-button">Close</button>
</mat-dialog-actions>
