/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import 'app/sass/variables';

body {
  color: $text-color;
}
.spinner {
  margin: 50px auto;
}

img {
  &.loading {
    visibility: hidden;
    height: 0;
  }
  &.loaded {
    visibility: visible;
    height: auto;
  }
}

a {
  color: $text-color;
  &:hover, &:focus {
    color: $indigo;
    text-decoration: none;
    outline: none;
  }
}
